*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Roboto, sans-serif;
    scroll-behavior: smooth;
}

:root{
    --white-color: rgb(255, 255, 255);
    --black-color: #000000;
    /* copy color */
    --Blue: hsl(247, 45%, 8%);
    --Light-red: hsl(15, 100%, 70%);
    --Soft-blue: hsl(195, 74%, 62%);
    --Light-red2: hsl(348, 100%, 68%);
    --Lime-green: hsl(145, 58%, 55%);
    --Violet: hsl(264, 64%, 52%);
    --Soft-orange: hsl(43, 84%, 65%);

    /* Secondary Colours */
    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);
    --hover-color: #34397b;
    --pink-color: #f2bb05;
    /* normal font */
    --font-1: 1rem;
    --font-125: 1.25rem;
    --font-15: 1.5rem;
    --font-2: 2rem;
    --font-25: 2.5rem;
    --font-3: 3rem;
    --font-35: 3.5rem;
    --font-4: 4rem;
    --font-45: 4.5rem;

}

/* Tracking styles */

#Package-Tracking{
    height: 100vh;
    background:linear-gradient(90deg, rgba(19, 4, 87, 0.8) 0%, rgba(32, 1, 145, 0.8) 65%, rgba(32, 0, 214, 0.7) 100%), url(/Images/supply-chain.jpg.optimal.jpg) no-repeat center center/cover;
}

.trk-ctrl{
    display: grid;
    place-items: center;   
}

.trk-ctrl h6{
    font-size: var(--font-2);
    color: var(--white-color);
    text-align: center;
    margin-bottom: 20px;
}

.trk-ctrl p{
    margin-top: 10px;
    font-size: var(--font-1);
    color: red;
    font-weight: 500;
}

.form-submit{
    display: flex;
    flex-wrap: nowrap;
}

.form-submit input{
    width: 100%;
    padding: 4% 3%;
    outline: none;
    font-size: var(--font-1);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
}

.form-submit button{
    width: 100px;
    font-size: var(--font-1);
    font-weight: 500;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--Light-red2);
    color: var(--white-color);
    transition: all 0.55s;
    cursor: pointer;
}

.form-submit button:hover{
    background: var(--Soft-orange);
}

.main-track{
    display: grid;
    height: 100%;
    place-items: center;
}

/* #footer{
    height: 50px;
} */

.copyright{
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.copyright p{
    display: flex;
    flex-wrap: nowrap;
}